# DB Configuration
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.kleod.mongodb.net/

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloud-name-here
CLOUDINARY_API_KEY=your-api-key-here
CLOUDINARY_API_SECRET=your-api-secret-here

# Google Configuration
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret

# Email Configuration
AUTH_EMAIL=youremail@email.com
AUTH_PASSWORD=auth-pass

# Web Configuration
NEXTAUTH_SECRET=your-next-auth-secret
APP_URL=https://yourweb.com
NEXTAUTH_URL=https://yourweb.com

DISCORD_CLIENT_ID=your-discord-id
DISCORD_CLIENT_SECRET=your-discord-secret

NEXT_PUBLIC_FINANFLIX_SECRET_ID=id-admin